<div class="absolute top-0 left-0 bg-custom_blue flex flex-col justify-center items-center w-[2000px] h-[100vh]">
<nav class="absolute top-[20px] left-[50px] flex justify-center items-center my-4 z-10">
<ul class="flex space-x-4">
    <li class="text-[25px] font-bold"><a href="/" class="text-white hover:text-gray-300">Home</a></li>
    <li class="text-[25px] font-bold"><a href="/about" class="text-white hover:text-gray-300">About</a></li>
    <li class="text-[25px] font-bold"><a href="/animes" class="text-white hover:text-gray-300">Anime</a></li>
    <li class="text-[25px] font-bold"><a href="/users" class="text-white hover:text-gray-300">Users</a></li>
    <li class="text-[25px] font-bold"><a href="/comments" class="text-white hover:text-gray-300">Comments</a></li>
</ul>
</nav>
<div class="max-w-4xl mx-auto">
<h1 class="text-3xl font-bold mb-4 text-white">Data Collection Navigation</h1>
<table class="min-w-full bg-white shadow-md rounded">
    <thead class="bg-gray-800 text-white">
        <tr>
            <th class="text-left py-3 px-4 uppercase font-semibold">Category</th>
            <th class="text-left py-3 px-4 uppercase font-semibold">Description</th>
        </tr>
    </thead>
    <tbody class="text-gray-700">
        <tr>
            <td class="border-t border-gray-200 px-4 py-2"><a class="color-blue font-bold" href="/animes">Anime</a></td>
            <td class="border-t border-gray-200 px-4 py-2">List of anime titles and details</td>
        </tr>
        <tr>
            <td class="border-t border-gray-200 px-4 py-2"><a class="color-blue font-bold" href="/users">Users</a></td>
            <td class="border-t border-gray-200 px-4 py-2">List of user profiles</td>
        </tr>
        <tr>
        <td class="border-t border-gray-200 px-4 py-2"><a class="color-blue font-bold" href="/comments">Comments</a></td>
        <td class="border-t border-gray-200 px-4 py-2">Comment made by users</td>
    </tr>
    </tbody>
</table>
</div>
</div>

