<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body class="bg-custom_blue">
    <div class="flex flex-col text-white w-[100vw] h-[100vh] justify-center items-center relative top-[-200px]">
    <h1 class="">Users Table</h1>
    <table class="">      
    <thead>
    <tr class="border-[1px] border-white">
    <th>ID</th>
    <th>Profile</th>
    <th>Favorite Charater</th>
    </tr>
    </thead>
    <tbody>
    <% @avatars.each do |avatar| %>
        <tr class="border-[1px] border-white text-center">
        <td class="px-[50px]"><%= avatar.id %></td>
        <td class="px-[50px]"><img class="w-[50px] h-[50px]" src=<%= avatar.real %>/></td>
        <td class="px-[50px]"><img class="w-[50px] h-[50px]" src=<%= avatar.real %>/></td>
        </tr>
        <% end %>
    </tbody>
    </table>
    </div>
    <div class="absolute left-[50%] top-[80%] translate-x-[-50%] translate-y-[50%] text-white">
    <%= paginate @avatars %> 
    </div>
</body>
</html>